{% extends 'base.html' %}

<!-TODO: Replace client with User name ->
{% block title %}Trainer - Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base_style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mx-auto px-3 py-4">
            <div class="container">
                <h2 class="display-5">{{ user.FirstName }} {{ user.LastName }}</h2>
                <p class="lead">Trainer</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Recent Fitness Plans</b></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Plan 1</li>
                        <li class="list-group-item">Plan 2</li>
                        <li class="list-group-item">Plan 3</li>
                    </ul>
                </div>
                <br>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Recent Clients</b></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">John Doe</li>
                        <li class="list-group-item">Jane Doe</li>
                        <li class="list-group-item">Bill Bob</li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Recent Logs</b></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Log 44</li>
                        <li class="list-group-item">Log 43</li>
                        <li class="list-group-item">Log 42</li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}