{% extends 'base.html' %}

<!-TODO: Replace client with User name ->
{% block title %}Trainer - Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base_style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mx-auto px-3 py-4">
            <div class="container">
                <h2 class="display-5">{{ user.FirstName }} {{ user.LastName }}</h2>
                <p class="lead">Trainer</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header"><b>Your Superstars</b> <i>These clients have submitted logs in all of your fitness programs</i></div>
                    <ul class="list-group list-group-flush">
                        {% if superstars %}
                            {% for client in superstars %}
                                <li class="list-group-item">{{ client.FirstName }} {{ client.LastName }}</li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">No Superstars!</li>
                        {% endif %}
                    </ul>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Fitness Programs</b></div>
                    <ul class="list-group list-group-flush">
                        {% if programs %}
                            {% for program in programs %}
                                <li class="list-group-item">{{ program.FitnessProgramName }}</li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">No programs</li>
                        {% endif %}
                    </ul>
                </div>
                <br>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Clients</b></div>
                    <ul class="list-group list-group-flush">
                        {% if clients %}
                            {% for client in clients %}
                                <li class="list-group-item">{{ client.FirstName }} {{ client.LastName }}</li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">No clients</li>
                        {% endif %}
                    </ul>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Logs</b></div>
                    <ul class="list-group list-group-flush">
                        {% if logs %}
                            {% for log in logs %}
                                <li class="list-group-item">Log {{ log.LogID }}: Satisfaction: {{ log.SatisfactionLevel }}</li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">No logs</li>
                        {% endif %}
                    </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}