{% extends 'base.html' %}

<!-TODO: Replace client with User name ->
{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base_style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mx-auto px-3 py-4">
            <div class="container">
                {% if user.FirstName != None and user.LastName != None %}
                <h2 class="display-5">{{ user.FirstName }} {{ user.LastName }}</h2>
                {% else %}
                    <h2 class="display-5">{{ user.UserName }}</h2>
                {% endif %}
                {% if fitness_program %}
                    <p class="lead">Your current fitness program is: <b>{{ fitness_program['FitnessProgramName'] }}</b>
                    </p>
                {% else %}
                    <p class="lead">You are not currently enrolled in a fitness program</p>
                {% endif %}
            </div>
        </div>
        <br>
        {% if fitness_program %}
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Meal Plan</b></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ fitness_program['MealPlanName'] }}</li>
                    </ul>
                </div>
                <br>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Workout Plan</b></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ fitness_program['WorkoutPlanName'] }}</li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><b>Trainer</b></div>
                    <ul class="list-group list-group-flush">
                        {% if fitness_program['FirstName'] != None and fitness_program['LastName'] != None %}
                            <li class="list-group-item">{{ fitness_program['FirstName'] }} {{ fitness_program['LastName'] }}</li>
                        {% else %}
                            <li class="list-group-item">{{ fitness_program['UserName'] }}</li>
                        {% endif %}
                    </ul>
                </div>
                <br>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}