{% extends 'base.html' %}
{% block title %} About Us {% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid mx-auto px-3 py-5">
        <div class="container">
            <h1> ABOUT US </h1>
            <p>
                This is a project created by Giovanni HoSang, Winfield Chen, David Pham, Joshua Deans with Python Flask app with 
                MySQL Database to create a state of the art fitness tracker! Flask
                is a beautiful mini-framework that gives you a good feel of doing things on your own. For example, the queries
                to the database are manually writted. This is good for someone trying to see how databases work and want
                to practice. In any case, go ahead, register and for your frist fitness program!

                </p>
                <img class="container" src="https://foter.com/photos/395/portrait-of-male-bodybuilder-exercising.jpg">
            
        </div>
    </div>
</div>
{% endblock %}