{% extends 'layout.html' %}

{% block title %}FitTracker{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base_style.css') }}">
{% endblock %}

{% block nav_items %}
    {% set current_user_id = is_logged_in_userid(request) %}
    {% set trainer_or_client = get_trainer_or_client(current_user_id)%}
    {% if is_logged_in_bool(request) %}
        {% if trainer_or_client == "client" %} 
            <li class="nav-item">
                <a class="nav-link" href="/client/{{current_user_id}}/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/{{current_user_id}}/logs">Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/{{current_user_id}}/programs">Program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/{{current_user_id}}/meal_plans">Meal Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/{{current_user_id}}/workout_plans">Workout Plans</a>
            </li>
        {% else  %}
            <li class="nav-item">
                <a class="nav-link" href="/trainer/{{current_user_id}}/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trainer/{{current_user_id}}/all_programs">Program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trainer/{{current_user_id}}/meal_plans">Meal Plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trainer/{{current_user_id}}/workout_plans">Workout Plans</a>
            </li>
        {% endif %}
    {% else %}
        <!-- <li class="nav-item">Logged out!</li> -->
        <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
        </li>
    {% endif %}
{% endblock %}

{% block nav_items_right %}
    {% if is_logged_in_bool(request) %}
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Search</a>
            <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <!-- Search all meals by Workout name, meal name, trainer
                As you click each you see all the pages, then on the page
                itself there is a search box that would run the query-->
                <li><a class="dropdown-item" href="/workouts">Workouts</a></li>
                <li><a class="dropdown-item" href="/meals">Meals</a></li>
                <li><a class="dropdown-item" href="/trainers_search">Trainers</a></li>
            </ul>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Search</a>
            <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <!-- Search all meals by Workout name, meal name, trainer
                As you click each you see all the pages, then on the page
                itself there is a search box that would run the query-->
                <li><a class="dropdown-item" href="/workouts">Workouts</a></li>
                <li><a class="dropdown-item" href="/meals">Meals</a></li>
                <li><a class="dropdown-item" href="/trainers_search">Trainers</a></li>
            </ul>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid mx-auto px-3 py-5">
      <div class="container">
        <h1 class="display-4">Welcome to Fitness Tracker</h1>
        <p class="lead"> Fitness Tracker is a service that pairs you with trainers...</p>
        <br>
        <div class="text-center">
            <a class="btn btn-primary mx-3 p-2" id="login" href="/login" role="button">Login</a>
            <a class="btn btn-primary mx-3 p-2" id="signup" href="/signup" role="button">Signup</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}