{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/auth_style.css') }}">
{% endblock %}

{% block body %}
<br>
<div class="container">
	<div class="card auth-form mx-auto">
		<div class="card-header">
			<h2>Sign Up</h2>
		</div>
		<div class="card-body">
            {% from "includes/_formhelpers.html" import render_field %}
            <form action="" method="post">
                <div class="form-group">
                    {{render_field(form.firstname, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.lastname, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.username, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.password, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.confirm, class_="form-control")}}
                </div>
                
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="trainer_client_radio" id="client_radio"
                               value="client" checked>
                        <label class="form-check-label" for="client_radio">Client</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="trainer_client_radio" id="trainer_radio"
                               value="trainer">
                        <label class="form-check-label" for="trainer_radio">Trainer</label>
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
		</div>
	</div>
</div>
{% endblock %}