{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/auth_style.css') }}">
{% endblock %}

{% block nav_items_right %}
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/signup">Signup</a>
    </li>

    {#<li class="nav-item dropdown">#}
    {#    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Search</a>#}
    {#    <span class="caret"></span></a>#}
    {#    <ul class="dropdown-menu">#}
    {#        <!-- Search all meals by Workout name, meal name, trainer #}
    {#        As you click each you see all the pages, then on the page #}
    {#        itself there is a search box that would run the query-->#}
    {#        <li><a href="/workouts">Workouts</a></li> #}
    {#        <li><a href="/meals">Meals</a></li>#}
    {#        <li><a href="/trainers">Trainers</a></li>#}
    {#    </ul>#}
    {#</li>#}
{% endblock %}

{% block body %}
<br>
<div class="container">
	<div class="card auth-form mx-auto">
		<div class="card-header">
			<h2>Sign Up</h2>
		</div>
		<div class="card-body">
            {% from "includes/_formhelpers.html" import render_field %}
            <form action="" method="post">
                <div class="form-group">
                    {{render_field(form.username, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.password, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.confirm, class_="form-control")}}
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
		</div>
	</div>
</div>
{% endblock %}